/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

@media screen and (min-width: 1280px) {
   .books {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}

 .book {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
    margin-bottom: 30px;
    border: 1px solid #fafafa;
    border-radius: 2rem;
    padding: 1rem;
 }
 .ergebnis {
   font-size: 2rem;
   font-family: sans-serif;
   padding: 2rem 0 2rem 2rem;
   color: white;
}

.toggle {
   margin: 0.4rem 0 0 2rem;
   position: relative;
   display: inline-block;
   width: 5rem;
   height: 2.4rem;
}
.toggle input {
   display: none;
}

.roundbutton {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   width: 100%;
   background-color: #dddddd;
   display: block;
   transition: all 0.3s;
   border-radius: 3.4rem;
   cursor: pointer;
}
.roundbutton.kimi {
   left: 7px;
}

.roundbutton:before {
   position: absolute;
   content: "";
   height: 1.4rem;
   width: 1.5rem;
   border-radius: 100%;
   display: block;
   left: 0.5rem;
   bottom: 0.5rem;
   background-color: white;
   transition: all 0.3s;
}

input:checked + .roundbutton {
   background-color: green;
}

input:checked + .roundbutton:before  {
   transform: translate(2.6rem, 0);
}
.books-filter {
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
   row-gap: 1rem;
}
@media screen and (max-width: 635px) {
   .books-filter, .slider-container {
      column-gap: 1rem;
   }
}
@media screen and (max-width: 450px) {
   .books-filter {
      justify-content: center;
   }
}
.books-filter > .filter-option {
   flex: 0 0 33.333333%;
}
.books-filter-container h3 {
   text-align: center;
   font-weight: normal;
   font-size: 33px;
}
.filter {
   background-color: #fff;
   border: 2px solid #333;
   border-radius: 3.4rem;
   width: 12rem;
   height: 3.4rem;
   padding: 0 15px;
}
input[type="text"].filter {
   background-color: #fff;
   border: 2px solid #333;
   border-radius: 3.4rem;
   width: 12rem;
   height: 3.4rem;
   padding: 0 15px;
}
.filter.on {
   border-color: rgba(255, 208, 47, 1);
}
.slider-container {
   margin-top: 1rem;
   margin-bottom: 60px;
   display: flex;
   flex-wrap: wrap;
   row-gap: 1rem;
}
@media screen and (max-width: 450px) {
   .slider-container {
      justify-content: center;
   }
}
.slider-wrap {
   border: 2px solid #333;
   border-radius: 3.4rem;
   width: 12rem;
   height: 3.4rem;
}
.slider {
   flex: 0 0 33.333333%;
}
.slider-wrap > span {
   display: block;
   float: left;
   margin-top: 16px;
   margin-left: 21px;
}

/* Spinner  */
.spinner {
  color: official;
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
#load_more {
   margin: 0 auto;
   display: none;
}

ul.kjl_pagination {
   margin: 0 5px;
   display: flex;
   justify-content: space-between;
}

ul.kjl_pagination li {
   background-color: white;
   display: inline-flex;
   align-items: center;
 }
 
 ul.kjl_pagination li a {
   display: block;
   color: #333;
   text-align: center;
   padding: 16px;
   text-decoration: none;
 }
 
 ul.kjl_pagination li a:hover {
   color: blue;
 }
 .badge {
   padding: 0.35em 0.65em;
   font-size: 0.75em;
   font-weight: 700;
   line-height: 1;
   text-align: center;
   border-radius: 6px;
   color: #fff;
   background-color: rgb(108, 117, 125);
 }